.labeled-loading-indicator {
  $spinner-size: 70px;

  height: $spinner-size;
  display: flex;
  align-items: center;

  & > .LoadingIndicator {
    font-size: $spinner-size;
  }

  &__text {
    font-size: $font-size-l;
    margin-left: $space-l;
  }
}
