.ImageContainer {
  @include scut-ratio-box(4/3);

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    animation-name: ImageContainer-fadeIn;
    animation-duration: $transition-duration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  &--ratio-1-1 {
    @include scut-ratio-box(1/1);
  }

  &--noSource &__image {
    animation-name: none;
  }

  @keyframes ImageContainer-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
