// Typography
// ---------------------------------------------------

$font-family-base: 'Raleway', sans-serif;

$font-size-s: 12px;
$font-size-base: 14px;
$font-size-l: 16px;
$font-size-xl: 24px;
$font-size-xxl: 36px;

$line-height-base: 1.3;
$line-height-l: 25px / $font-size-base;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;


// Colors
// ---------------------------------------------------

$color-gray-dark: #393c45;
$color-gray-medium: #9195a0;
$color-gray-light: #e5e7ef;
$color-gray-lighter: #f4f5f8;

$color-blue: #6e8fef;
$color-blue-light: #a8bcf5;
$color-red: #ec6172;
$color-red-light: #f2a2b0;
$color-green: #64eac2;
$color-white: #ffffff;

$color-bg: $color-white;
$color-text: $color-gray-dark;
$color-text-secondary: $color-gray-medium;

$color-invert-bg: $color-gray-dark;
$color-invert-text: $color-white;
$color-invert-text-secondary: $color-gray-medium;

$color-primary: $color-blue;
$color-danger: $color-red;
$color-danger-active: $color-red-light;
$color-primary-active: $color-blue-light;
$color-secondary: $color-green;
$color-border: $color-gray-light;
$color-error: $color-red;
$color-field-focus: $color-blue-light;


// Layout
// ---------------------------------------------------

$space-s: 5px;
$space-base: 12px;
$space-l: 16px;
$space-xl: 30px;

$input-height: 40px;
$border-radius: 3px;

$box-shadow-base: 0 2px 4px -1px rgba(0, 0, 0, 0.14),
                  0 4px 5px  0   rgba(0, 0, 0, 0.098),
                  0 1px 10px 0   rgba(0, 0, 0, 0.084);

// Grid
// ---------------------------------------------------

$column-width: 95px;
$gutter-width: $space-base;

$susy: (
  columns: 12,
  math: fluid,
  column-width: $column-width,
  gutters: $gutter-width / $column-width,
  gutter-position: inside-static,
  global-box-sizing: border-box
);

// Breakpoints
// ---------------------------------------------------

$screen-s-max: 440px;
$screen-sm-max: 749px;
$screen-md-min: 750px;
$screen-md-max: 959px;
$screen-lg-min: 960px;

$mediaqueries: (
  small-only: "(max-width: #{$screen-sm-max})",
  medium: "(min-width: #{$screen-md-min})",
  medium-only: "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})",
  large: "(min-width: #{$screen-lg-min})",
);

// Misc
// ---------------------------------------------------

$transition-duration: .4s;
$transition-duration-fast: .15s;

$item-bar-height: 45px;

// Stacking
// ---------------------------------------------------

$global-stacking: main, fixed-footer, topbar, portal, splash;
