.StickyFooter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-bg-minor;
  padding: $space-base $space-l;
  border-top: 1px solid $color-bg-minor;
  opacity: 1;
  height: $sticky-footer-height;

  & > * + * {
    margin-left: $space-xl;
  }

  &:before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    content: '';
    width: 100%;
    display: block;
    height: 60px; // Design decision
    background: linear-gradient(to bottom, rgba($color-bg-minor, 0), rgba($color-bg-minor, 1));
  }
}
