.StickyFooter {
  @include respond-to(tablet) {
    display: flex;
    align-items: stretch;
  }

  &__content {
    position: relative;
    display: block;
    padding: $space-base $space-l;
    background: $color-bg-minor;

    & > * + * {
      margin-left: $space-xl;
    }

    @include respond-to(tablet) {
      display: inline-block;
    }
  }

  @include respond-to(tablet) {
    &:before,
    &:after {
      content: '';
      pointer-events: none;
      display: block;
      flex-grow: 1;
    }

    &:before {
      background: linear-gradient(to right, rgba($color-bg-minor, 0), rgba($color-bg-minor, 1));
    }

    &:after {
      background: linear-gradient(to left, rgba($color-bg-minor, 0), rgba($color-bg-minor, 1));
    }
  }
}
