.rich-text {
  em {
    font-style: italic;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  p {
    @extend .Paragraph;
  }

  a {
    @extend .link;
  }

  &--l {
    font-size: $font-size-l;
  }
}
