.Tooltip {
  display: inline-block;
  max-width: 100%; // This fixes a case where the child is a block element with truncation.

  // This node is no rendered as a child of the .Tooltip
  &__portal {
    // This has to be synced with the transition timeouts in the component
    $transition-timeout: 0.3s;
    $transition-delay-enter: 0.3s;
    $transition-delay-exit: 0.3s;

    opacity: 0;
    margin: 0;

    &.Tooltip--transition-enter-active,
    &.Tooltip--transition-enter-done {
      transition: opacity $transition-timeout ease-out;
      transition-delay: $transition-delay-enter;
      opacity: 1;
    }

    &.Tooltip--transition-exit,
    &.Tooltip--transition-exit-done {
      transition: opacity $transition-timeout ease-out;
      transition-delay: $transition-delay-exit;
      opacity: 0;
    }
  }
}
