.Link {
  $icon-size: 0.8em;
  $icon-size-l: 1.4em;
  $icon-space: 0.5em;

  display: inline-block;
  position: relative;
  color: $color-link;
  font-weight: $font-weight-regular;
  text-decoration: none;
  cursor: pointer;

  & > .Icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: $icon-space;
    font-size: $icon-size;
  }

  & > strong {
    font-weight: $font-weight-bold;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--warning {
    color: $color-warning;
  }

  &--invert {
    color: inherit;
    text-decoration: underline;
  }

  &--icon {
    padding-left: $icon-size + $icon-space;
  }

  &--largeIcon {
    padding-left: $icon-size-l + $icon-space;

    & > .Icon {
      font-size: $icon-size-l;
    }
  }
}
