.Link {
  color: $color-link;
  font-weight: $font-weight-regular;
  text-decoration: none;
  cursor: pointer;

  & > .Icon {
    position: relative;
    margin-right: 0.5em;
    font-size: 0.8em;
    top: -0.08em; // Optimize vertical center
  }

  & > strong {
    font-weight: $font-weight-bold;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--warning {
    color: $color-warning;
  }

  &--invert {
    color: inherit;
    text-decoration: underline;
  }
}
