.price {
  $price-height: 30px;

  line-height: $price-height;
  height: $price-height;

  &__loading {
    display: flex;
    color: $color-minor;
    font-style: italic;
    align-items: center;

    & > .loading-indicator {
      margin-right: $space-base;
      margin-top: -2px; // fix vertical alignment
    }
  }

  &__global-loading {
    margin-left: $space-s;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
  }

  &__loading-checkmark {
    display: flex;
    margin-left: $space-base;
    justify-content: center;
    margin-top: -2px; // fix vertical alignment
  }

  &__value {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    white-space: nowrap;
  }

  &__prefix {
    color: $color-minor;
    font-style: italic;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    margin-right: $space-s;
  }

  &__meta {
    @include scut-truncate();
    color: $color-minor;
    font-style: italic;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    margin-left: $space-s;
  }
}
