.Price {
  font-size: $font-size-base;

  &__loading {
    display: flex;
    color: $color-minor;
    font-style: italic;
    align-items: center;

    & > .LoadingIndicator {
      margin-right: $space-base;
      margin-top: -2px; // fix vertical alignment
    }
  }

  &__price {
    display: flex;
    justify-content: flex-start;
  }

  &__loadingCheckmark {
    display: flex;
    margin-left: $space-base;
    justify-content: center;
    margin-top: -2px; // fix vertical alignment
  }

  &__value {
    font-weight: $font-weight-bold;
    white-space: nowrap;
  }

  &__prefix {
    font-weight: $font-weight-bold;
    white-space: nowrap;
    margin-right: $space-s;
  }
}
