.CartModelItem {
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  background: $color-bg;
  position: relative;
  display: grid;
  grid-template-areas:
    'aside content'
    'additional additional';
  grid-template-columns: 65px auto;
  font-size: $font-size-s;
  overflow: hidden;

  @include respond-to(desktop) {
    grid-template-columns: $cart-model-item-height auto;
    height: $cart-model-item-height;
  }

  &__aside {
    grid-area: aside;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $color-bg-minor;
    flex-shrink: 0;

    & > .CheckboxField {
      position: absolute;
      top: $space-base;
      left: $space-base;
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $space-base $space-base 0;

    @include respond-to(desktop) {
      padding-bottom: $space-base;
    }

    .CartModelItem__provider {
      display: none;

      @include respond-to(desktop) {
        display: block;
      }
    }
  }

  &__modelInfo {
    display: flex;
    flex-shrink: 1;
  }

  &__contentLeft {
    width: 0;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  &__contentRight {
    display: none;
    width: 240px; // Design decision
    flex-shrink: 0;
    text-align: right;
    color: $color-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-left: $space-l;

    @include respond-to(desktop) {
      display: block;
    }
  }

  &__title {
    display: block;
    color: $color-text;
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;

    @include respond-to(desktop) {
      font-size: $font-size-l;
      font-weight: $font-weight-bold;
    }
  }

  &__price {
    display: block;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;

    @include respond-to(desktop) {
      font-size: $font-size-l;
    }
  }

  &__info {
    color: $color-minor;
    overflow: hidden;
    font-size: $font-size-s;
    max-height: $font-size-s * $line-height-base * 3;

    @include respond-to(desktop) {
      font-size: $font-size-base;
      max-height: $font-size-base * $line-height-base * 3;
    }
  }

  &__shippingInfo {
    & > strong {
      font-weight: $font-weight-bold;
    }
  }

  &__provider {
    color: $color-minor;
    font-size: $font-size-s;

    @include respond-to(desktop) {
      font-size: $font-size-base;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__buttonsLeft,
  &__buttonsRight {
    & > * {
      margin-bottom: 0;
    }
  }

  &__previewImage {
    outline: 0;
  }

  &__additionalContent {
    grid-area: additional;
    padding: $space-base;

    @include respond-to(desktop) {
      display: none;
    }
  }

  &--selected:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
  }

  &--s {
    grid-template-columns: $cart-model-item-height-s auto;
    height: $cart-model-item-height-s;

    @include respond-to(desktop) {
      grid-template-columns: $cart-model-item-height-s auto;
      height: $cart-model-item-height-s;
    }

    .CartModelItem__content {
      padding: $space-base;
    }

    .CartModelItem__info {
      @include scut-truncate;
      height: auto;
    }

    .CartModelItem__contentLeft,
    .CartModelItem__title {
      font-size: $font-size-s;
      font-weight: $font-weight-regular;
    }

    .CartModelItem__contentRight {
      display: none;
    }

    .CartModelItem__buttons {
      display: none;
    }

    .CartModelItem__additionalContent {
      display: none;
    }
  }
}
