{
  "extends": "../.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "mockStore": true
  },
  "env": {
    "mocha": true
  }
}
