.LoadingCheckmark {
  position: relative;

  &__check {
    position: absolute;
    left: 0;
    top: 0;
    color: $color-success;
    opacity: 0;
  }

  @keyframes check-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &--done {
    .LoadingCheckmark__loading {
      transition: opacity 0.2s linear;
      opacity: 0;
    }
  }

  &--doneActive {
    .LoadingCheckmark__check {
      animation: check-animation 2s linear forwards;
    }
  }

  &--hideAfterTimeout {
    transition: opacity 0.2s 30s linear;
    opacity: 0;
  }
}
