.LoadingCheckmark {
  position: relative;

  &__check {
    position: absolute;
    left: 0;
    top: 0;
    color: $color-success;
    opacity: 0;
  }

  @keyframes LoadingCheckmark-check {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes LoadingCheckmark-timeout {
    100% {
      opacity: 0;
    }
  }

  &--done {
    .LoadingCheckmark__loading {
      transition: opacity 0.2s linear;
      opacity: 0;
    }
  }

  &--doneActive {
    .LoadingCheckmark__check {
      animation: LoadingCheckmark-check 2s linear forwards;
    }
  }

  &--hideAfterTimeout {
    animation: LoadingCheckmark-timeout 0.2s 30s linear forwards;
  }
}
