.ToolLayout {
  $stacking: main, curtain, aside;
  $sidebar-width: 360px;
  $toggle-size: 70px;
  $toggle-size-s: 50px;
  $layout-height: calc(100vh - #{$nav-bar-height});
  $layout-height-mobile: calc(100vh - #{$nav-bar-height-mobile});
  $icon-size: 20px;
  $icon-size-tablet: 25px;

  position: relative;
  z-index: z($global-stacking, app);
  display: flex;
  height: $layout-height-mobile;
  overflow: hidden;

  @include respond-to(tablet) {
    height: $layout-height;
  }

  &__main {
    flex-grow: 1;
    width: 100%;
    padding: $space-xl;
    overflow-y: auto;
    z-index: z($stacking, main);

    @include respond-to(desktop) {
      margin-left: $sidebar-width;
    }
  }

  &__curtain {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: $layout-height-mobile;
    background-color: rgba($color-gray-0, 0.75);
    transition: opacity $transition-duration-fast linear;
    z-index: z($stacking, curtain);

    @include respond-to(tablet) {
      height: $layout-height;
    }

    @include respond-to(desktop) {
      display: none;
    }
  }

  &__aside {
    position: absolute;
    flex-shrink: 0;
    background: $color-bg-minor;
    transition: transform $transition-duration-fast ease-out;
    transform: translateX(-100%);
    width: calc(100vw - #{$toggle-size-s});
    height: $layout-height-mobile;
    z-index: z($stacking, aside);

    @include respond-to(tablet) {
      width: calc(100vw - #{$toggle-size});
      height: $layout-height;
      width: $sidebar-width;
    }

    @include respond-to(desktop) {
      width: $sidebar-width;
      height: $layout-height;
      transform: none;
    }
  }

  &__sidebar {
    height: 100%;
    overflow-y: auto;
    padding: $space-xl;
  }

  &__close {
    position: absolute;
    top: 0;
    right: -1 * $toggle-size-s;
    width: $toggle-size-s;
    height: $toggle-size-s;
    color: $color-invert-text;
    outline: none;
    font-size: $icon-size;
    opacity: 0;
    transition: opacity $transition-duration-fast ease-out;
    pointer-events: none;

    @include respond-to(tablet) {
      right: -1 * $toggle-size;
      width: $toggle-size;
      height: $toggle-size;
      font-size: $icon-size-tablet;
    }

    @include respond-to(desktop) {
      display: none;
    }

    & > .Icon {
      margin: 0 auto;
    }
  }

  &--isOpen {
    .ToolLayout__aside {
      transform: translateX(0);
    }

    .ToolLayout__curtain {
      opacity: 1;
      pointer-events: all;
    }

    .ToolLayout__close {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--fullMain .ToolLayout__main {
    padding: 0;
  }
}
