.ToolLayout {
  $sidebar-width: 360px;

  position: relative;
  z-index: z($global-stacking, app);
  display: grid;
  grid-template-areas: 'aside main';
  grid-template-columns: $sidebar-width 1fr;
  height: calc(100vh - #{$nav-bar-height});
  overflow: hidden;

  &__main {
    grid-area: main;
    padding: $space-xl;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &__aside {
    grid-area: aside;
    padding: $space-xl;
    background: $color-bg-minor;
    overflow-y: auto;
  }

  &--fullMain .ToolLayout__main {
    padding: 0;
  }
}
