.checkout-model-list {
  margin-bottom: $space-base;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item{
    padding: $space-base 0;
    border-bottom: 1px solid $color-border-minor;

    &:first-child {
      border-top: 1px solid $color-border-minor;
    }
  }
}
