.baloon {
  $triangle-size: $space-l;

  position: relative;
  margin: 0 $triangle-size $space-base;
  font-size: $font-size-l;
  font-weight: $font-weight-light;
  color: $color-text;
  background: $color-gray-4;
  padding: $space-xl;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  text-align: center;

  &:after {
    @include scut-triangle(top-right, $triangle-size, $color-gray-4);
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
  }

  &--right {
    $background: #C0DDF7; // Custom color chosen by design

    background: $background;
    border-radius: $border-radius;
    border-top-right-radius: 0;

    &:after {
      @include scut-triangle(top-left, $triangle-size, $background);
      left: 100%;
      right: auto;
    }
  }
}
