// Typography
// ---------------------------------------------------

$font-family-base: 'Roboto', sans-serif;

$font-size-base: 15px;
$font-size-l: 20px;
$font-size-xl: 25px;
$font-size-xxl: 35px;
$font-size-xxxl: 45px;

$line-height-base: 1.4;

$font-weight-regular: 400;
$font-weight-bold: 700;

// Colors
// ---------------------------------------------------

$color-gray-0: #333333;
$color-gray-1: #666666;
$color-gray-2: #999999;
$color-gray-3: #cccccc;
$color-gray-4: #f0f0f0;

$color-blue-dark: #122732;
$color-blue: #0277bd;
$color-blue-light: #03a2d8;
$color-red: #e05757;
$color-white: #ffffff;

$color-bg: $color-gray-4;
$color-bg-highlight: $color-white;

$color-text: $color-gray-0;
$color-primary: $color-blue;
$color-primary-active: $color-blue-light;
$color-minor: $color-gray-2;
$color-border: $color-gray-2;
$color-error: $color-red;
$color-field-focus: $color-primary;
$color-disabled: $color-gray-3;
$color-link: $color-blue-light;

$color-invert-bg: $color-blue-dark;
$color-invert-text: $color-white;


// Layout & Grid
// ---------------------------------------------------

$space-s: 5px;
$space-base: 12px;
$space-l: 20px;
$space-xl: 30px;
$space-xxl: 40px;

/*$column-width: 95px;
$gutter-width: $space-l;

$susy: (
  columns: 12,
  math: fluid,
  column-width: $column-width,
  gutters: $gutter-width / $column-width,
  gutter-position: inside-static,
  global-box-sizing: border-box
);*/

// Breakpoints
// ---------------------------------------------------

$mediaqueries: ();

// Misc
// ---------------------------------------------------

$border-radius: 5px;
$box-shadow-base: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

$transition-duration: .4s;
$transition-duration-fast: .15s;

// Stacking
// ---------------------------------------------------

$global-stacking: main;
