// Typography
// ---------------------------------------------------

$font-family-base: 'Roboto', sans-serif;

$font-size-s: 12px;
$font-size-base: 15px;
$font-size-l: 20px;
$font-size-xl: 25px;
$font-size-xxl: 35px;
$font-size-xxxl: 45px;

$line-height-s: 1.2;
$line-height-base: 1.4;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Colors
// ---------------------------------------------------

$color-gray-0: #333333;
$color-gray-1: #666666;
$color-gray-2: #999999;
$color-gray-3: #cccccc;
$color-gray-4: #e0e0e0;
$color-gray-5: #f3f3f3;

$color-blue-dark: #122732;
$color-blue: #0078e2;
$color-blue-light: #3692e2;
$color-blue-lighter: #aad7fd;
$color-blue-very-light: #e9f5ff;
$color-yellow: #f6a623;
$color-yellow-light: #fbb94e;
$color-red: #ca0f0f;
$color-red-light: #fcd1d1;
$color-green: #559c03;
$color-green-light: #eaffe5;
$color-white: #ffffff;
$color-black: #000000;

$color-bg: $color-white;
$color-bg-minor: $color-gray-5;
$color-text: $color-gray-0;
$color-text-label: $color-gray-1;
$color-primary: $color-blue;
$color-primary-active: $color-blue-light;
$color-minor: $color-gray-2;
$color-minor-highlighted: $color-gray-1;
$color-border: $color-gray-2;
$color-border-minor: $color-gray-4;
$color-warning: $color-yellow;
$color-error: $color-red;
$color-field-focus: $color-primary;
$color-field-bg: $color-white;
$color-disabled: $color-gray-3;
$color-link: $color-blue;
$color-success: $color-green;
$color-warning: $color-yellow;
$color-warning-active: $color-yellow-light;

$color-tooltip-bg: rgba(0, 0, 0, 0.89);
$color-tooltip-text: $color-white;
$color-invert-bg: $color-blue;
$color-invert-text: $color-white;
$color-invert-disabled: #82bcee;
$color-cheapest-provider-bg: $color-green-light;

// Layout & Grid
// ---------------------------------------------------

$space-s: 5px;
$space-base: 12px;
$space-l: 20px;
$space-xl: 30px;
$space-xxl: 40px;
$space-xxxl: 70px;
$space-xxxxl: 100px;

$global-max-width: 1140px;
$gutter-width: $space-xl;

// Breakpoints
// ---------------------------------------------------

$screen-s-max: 440px;
$screen-sm-max: 749px;
$screen-md-min: 750px;
$screen-md-max: 959px;
$screen-lg-min: 960px;

$mediaqueries: (
  small-only: '(max-width: #{$screen-sm-max})',
  medium: '(min-width: #{$screen-md-min})',
  medium-only: '(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})',
  large: '(min-width: #{$screen-lg-min})'
);

// Misc
// ---------------------------------------------------

$nav-bar-content-height: 40px;
$field-height: 50px;
$compact-field-height: 40px;
$tiny-field-height: 30px;
$border-radius: 5px;
$model-item-height: 161px;
$model-item-space-left: $space-xxxl;
$model-item-image-width: 180px;
$model-item-height: $model-item-image-width / 4 * 3 + 2 * $space-base + 2px;
$upload-model-item-height: 122px;
$upload-model-item-height-s: 102px;
$color-square-size: 20px;

$box-shadow-base: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
$box-shadow-active: 1px 1px 6px 0 rgba(0, 0, 0, 0.4);
$box-shadow-focus: 0px 0px 4px 0 rgba($color-primary, 0.5);
$box-shadow-error: 0px 0px 4px 0 rgba($color-error, 0.5);

$transition-duration: 0.4s;
$transition-duration-fast: 0.15s;

$global-stacking: app, tooltip, overlay, select-menu;

$interface-touchable-min-size: 45px;
