@include scut-reset-button;
@include scut-reset-border-box;
@include scut-reset-pointer;
@include scut-reset-form;

html {
  min-height: 100%;
  background: $color-bg;
  color: $color-text;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

#root {
  position: relative;
  z-index: 0;  // Solves conflict issue with paypal client library
}
