{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "not IE <= 11"
        ]
      }
    }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "retainLines": true,
  "sourceMaps": true,
  "env": {
    "coverage": {
        "plugins": [
          "istanbul"
        ],
      "sourceMaps": "inline"
    }
  }
}
