{
  "check-coverage": true,
  "per-file": false,
  "sourceMap": false,
  "instrument": false,
  "cache": true,
  "statements": 100,
  "branches": 100,
  "functions": 100,
  "lines": 100,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js",
    "src/app/*.js",
    "src/app/service/*.js",
    "src/app/action/*.js",
    "src/app/reducer/*.js",
    "src/app/action-next/*.js",
    "src/app/reducer-next/*.js"
  ],
  "reporter": [
    "text",
    "lcov",
    "html"
  ],
  "extension": [
    ".js",
    ".ts"
  ]
}
