{
  "printWidth": 100,
  "parser": "flow",
  "overrides": [{
    "files": "*.js",
    "options": {
      "semi": false,
      "singleQuote": true,
      "bracketSpacing": false
    }
  }, {
    "files": "*.scss",
    "options": {
      "parser": "scss",
      "singleQuote": true
    }
  }]
}
