.CountrySelectField {
  height: $field-height-compact;
  line-height: $field-height-compact;

  @include respond-to(tablet) {
    height: $field-height;
    line-height: $field-height;
  }

  &__value {
    flex-shrink: 0;
  }

  &__notification {
    color: $color-warning;
    padding: $space-base;
    padding-bottom: 0;
    font-size: $font-size-s;
  }

  &__change {
    @include scut-truncate();
    overflow: hidden;
  }

  &__readMode {
    display: flex;
    align-items: center;
    padding-left: $space-base;
    white-space: nowrap;
  }
}
