.static-field {
  display: flex;
  height: $field-height;
  font-size: $font-size-l;
  line-height: $field-height;

  &__value {
    @include scut-truncate();
  }

  & > .link {
    margin-left: $space-base;
    flex-shrink: 0;
  }
}
