.overlay {
  $modal-default-width: 600px;
  $modal-l-width: 1000px;
  $close-button-size: 20px;
  $modal-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0;

  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: z($global-stacking, overlay);

  &__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-gray-0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    width: $modal-default-width;
    max-height: 95%;
    background-color: $color-bg;
    padding: $space-l;
    overflow: auto;
    border-radius: $border-radius;
    box-shadow: $modal-box-shadow;
  }

  &__headline {
    position: relative;
    padding-right: $close-button-size + $space-xl;
    color: $color-minor;

    & > .headline {
      margin-bottom: 0;
    }

    & > .close-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__header {
    padding-bottom: $space-xl;
  }

  &__content {
    padding: 0;
  }

  &__footer {
    padding-top: $space-xl;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: $space-xl;
    }
  }

  &--l {
    .overlay__modal {
      width: $modal-l-width;
    }
  }
}
