.UploadArea {
  $border-image: url('../asset/image/upload-area-border.png');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size-base;
  border: 1px dashed $color-primary;
  border-image: $border-image;
  border-image-slice: 1;
  border-image-repeat: round;
  text-align: center;
  padding: $space-xl;

  @include respond-to(tablet) {
    padding-top: $space-xxxxl;
    padding-bottom: $space-xxxxl;
    font-size: $font-size-l;
  }

  & > .Icon {
    font-size: 55px;
    color: $color-primary;
  }

  &__label {
    margin-bottom: $space-s;
  }

  &__link {
    display: inline;
    color: $color-link;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }

  &__description {
    font-size: $font-size-s;
    color: $color-text-label;
  }

  &--drag {
    background: $color-blue-very-light;
    border-image: none;
  }

  &--s {
    padding: $space-xl $space-l;
    font-size: $font-size-base;

    @include respond-to(tablet) {
      padding: $space-l;
      height: $upload-model-item-height;
    }

    .UploadArea__description {
      display: none;
    }
  }
}
