.OfferFooter {
  border-top: 2px solid $color-bg-minor;
  background: $color-bg;
  padding: $space-base $space-xl;
  font-size: $font-size-s;

  &__priceLabel {
    font-weight: $font-weight-bold;
    vertical-align: baseline;
  }

  &__price {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    margin-left: $space-l;
    vertical-align: baseline;
  }

  &__subline {
    font-size: $font-size-xs;
  }

  > .DescriptionList {
    font-size: $font-size-s;

    & > dt {
      & > strong {
        font-weight: $font-weight-bold;
      }
    }
  }
}
