.OfferFooter {
  display: flex;
  flex-direction: column;
  border-top: 2px solid $color-bg-minor;
  background: $color-bg;

  &__main {
    padding: $space-base $space-xl;
    flex-shrink: 0;
  }

  &__more {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 0;
    transition: max-height $transition-duration ease-in-out;
  }

  &__offers {
    list-style: none;
    padding: 0 $space-xl;
    margin: 0;
    overflow: auto;
    border-top: 2px solid $color-bg-minor;
  }

  &__offer {
    padding: $space-base 0;

    &:not(:first-child) {
      border-top: 2px solid $color-bg-minor;
    }
  }

  &--showMore {
    .OfferFooter__more {
      max-height: 35vh;
    }
  }
}
