.feature-paragraph {
  display: flex;
  align-items: center;
  margin: 0 0 $space-xl;
  color: $color-text-label;
  font-size: $font-size-l;
  font-weight: $font-weight-light;

  & > .image {
    flex-shrink: 0;
    width: 75px; // Chosen by design
    margin-right: $space-xl;
  }

  &__content {
    flex-grow: 1;
  }
}
