.sticky-container {

  &__placeholder {
    display: none;
  }

  &--sticky {
    .sticky-container__placeholder {
      display: block;
    }

    .sticky-container__child {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}
