.select-menu-material-item {
  $height: 35px;

  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: $height;
  line-height: $height;
  padding-left: (2 * $space-base + $font-size-base);
  padding-right: $space-base;
  outline: 0;
  background: $color-bg;
  text-align: left;
  font-size: $font-size-base;

  & > .Icon {
    position: absolute;
    left: $space-base;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label {
    @include scut-truncate;

    display: block;
    flex-grow: 1;
  }

  &__color {
    flex-shrink: 0;
    text-align: center;
  }

  &:hover:not(.select-menu-material-item--selected) {
    background: $color-gray-5;
  }

  &--has-color {
    .select-menu-material-item__color:after {
      content: '';
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background: url('../asset/image/color.png') center center no-repeat;
      background-size: contain;
    }
  }
}
