.SearchField {
  $border-width: 1px;
  $icon-size: round(0.4 * $field-height);
  $icon-size-compact: round(0.5 * $field-height-compact);
  $icon-size-tiny: round(0.6 * $field-height-tiny);

  position: relative;
  height: $field-height-compact;

  @include respond-to(tablet) {
    height: $field-height;
  }

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    border: $border-width solid $color-border;
    border-radius: $border-radius;
    font-size: $font-size-l;
    padding: 0 $field-height-compact 0 $space-base;
    outline: none;
    color: $color-text;

    &:focus {
      border-color: $color-field-focus;
      box-shadow: $box-shadow-focus;
    }

    &:active {
      box-shadow: $box-shadow-active;
    }

    &::placeholder {
      color: $color-minor;
    }

    @include respond-to(tablet) {
      padding-right: $field-height;
    }
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $field-height-compact;
    height: $field-height-compact;
    font-size: $icon-size-compact;
    color: $color-primary;
    outline: 0;

    &:hover,
    &:focus {
      color: $color-primary-active;
    }

    @include respond-to(tablet) {
      width: $field-height;
      height: $field-height;
      font-size: $icon-size;
    }
  }

  &__search {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $field-height-compact;
    height: $field-height-compact;
    font-size: $icon-size-compact;
    color: $color-minor;
    outline: 0;

    @include respond-to(tablet) {
      width: $field-height;
      height: $field-height;
      font-size: $icon-size;
    }
  }

  &--tiny {
    .SearchField__input {
      height: $field-height-tiny;
      padding-right: $field-height-tiny;
      font-size: $font-size-base;

      @include respond-to(tablet) {
        height: $field-height-tiny;
        padding-right: $field-height-tiny;
      }
    }

    .SearchField__search,
    .SearchField__clear {
      width: $field-height-tiny;
      height: $field-height-tiny;
      font-size: $icon-size-tiny;

      @include respond-to(tablet) {
        width: $field-height-tiny;
        height: $field-height-tiny;
        font-size: $icon-size-tiny;
      }
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
