.UploadModelItem {
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  background: $color-bg;
  position: relative;
  display: flex;
  height: $upload-model-item-height;

  &__aside {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $color-bg-minor;
    width: $upload-model-item-height;
    flex-shrink: 0;

    & > .CheckboxField {
      position: absolute;
      top: $space-base;
      left: $space-base;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $space-l;
    overflow: hidden; // Necessary to enable truncation in children
  }

  &__title {
    display: block;
    color: $color-text;
    font-weight: $font-weight-regular;
  }

  &__subline {
    @include scut-truncate;

    color: $color-minor;
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__buttonsLeft,
  &__buttonsRight {
    & > * {
      margin-bottom: 0;
    }
  }

  &--selected:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
  }

  &--s {
    height: $upload-model-item-height-s;

    .UploadModelItem__aside {
      min-width: 65px; // Design decision
      max-width: 100px; // Design decision
      width: 20%;
    }

    .UploadModelItem__content {
      padding: $space-base;
    }
  }
}
