.configuration-header {
  $currency-width: 120px;

  background: $color-bg;
  border-bottom: 1px solid $color-border;
  padding: $space-l 0;

  &__wrapper {
    display: grid;
    grid-column-gap: $space-base;
    grid-row-gap: $space-base;

    grid-template:
      "location currency" auto
      "text text" auto
      / 1fr $currency-width;

    @include respond-to(medium) {
      grid-template:
        "location currency text" auto
        / 1fr $currency-width auto;
    }
  }

  &__location {
    grid-area: location;
  }

  &__currency {
    grid-area: currency;
  }

  &__text {
    color: $color-minor;
    grid-area: text;
    align-self: center;
  }
}
