.NavLink {
  $icon-size: 40px;
  $icon-size-tablet: 30px;

  display: inline-flex;
  flex-direction: column;
  color: $color-primary;
  font-size: $font-size-s;
  align-items: center;
  outline: none;
  text-decoration: none;

  & > .Icon {
    font-size: scut-em($icon-size);

    @include respond-to(tablet) {
      font-size: scut-em($icon-size-tablet);
    }
  }

  &__label {
    display: none;
    margin-top: 0.2em;

    @include respond-to(tablet) {
      display: block;
    }
  }

  &:hover,
  &:active {
    color: $color-primary-active;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      color: $color-primary;
    }
  }
}
