
// Actual media queries
$mediaqueries: () !default;

// Central Media Query Mixin
@mixin respond-to($query) {
  @if map-has-key($mediaqueries, $query) {
    @media #{map-get($mediaqueries, $query)} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$query}`. "
      + "Please make sure it is defined in `$mediaqueries` map.";
  }
}
