.NavBar {
  background: $color-bg;
  color: $color-primary;
  font-size: $font-size-l;
  border-bottom: solid 1px $color-border-minor;
  padding: 0 $space-xl;
  display: flex;
  flex-direction: row;
  height: $nav-bar-height;
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    & > * + * {
      margin-left: $space-l;
    }
  }

  &__right {
    display: flex;
    margin-top: $space-s;
    align-items: center;
    margin-top: 0;
    justify-content: flex-end;

    & > * {
      margin-left: $space-l;
    }
  }
}
