.nav-bar {
  background: $color-invert-bg;
  color: $color-invert-text;
  font-size: $font-size-l;

  padding: $space-l 0;

  @include respond-to(medium) {
    padding: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(medium) {
      flex-direction: row;
      height: $nav-bar-content-height + 2 * $space-l;
    }
  }

  &__identity {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: $space-l;
    text-align: left;
    outline: 0;
    height: $nav-bar-content-height;

    @include respond-to(large) {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }

  &__logo {
    height: $nav-bar-content-height;
    margin-right: $space-base;
  }

  &__subline {
    font-weight: inherit;
    line-height: $line-height-s;
    margin-top: -1em; // Center subline and let it overflow
    margin-bottom: -1em;
  }

  &__content {
    margin-left: $space-l;
    & > * + * {
      margin-left: $space-l;
    }
  }
}
