.provider-box {
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    "image image days days price price"
    "material material material action-button action-button action-button";
  grid-gap: $space-l;

  &__header {
    grid-area: header;
    height: 56px; // Design decision
    background-color: $color-invert-bg;
    color: $color-invert-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    > .icon {
      margin-right: $space-base;
      font-size: $font-size-xxl;
    }
  }

  &__image {
    grid-area: image;
    background-size: cover;
    background-repeat: no-repeat;
    @include scut-ratio-box(26/17);
    margin-left: $space-l;
  }

  &__days-column {
    grid-area: days;
  }

  &__column-head {
    font-size: $font-size-l;
  }

  &__price-column {
    grid-area: price;
    margin-right: $space-l;
  }

  &__material-column {
    grid-area: material;
    margin-left: $space-l;
    margin-bottom: $space-l;
  }

  &__action-button {
    grid-area: action-button;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: $space-l;
    margin-bottom: $space-l;
  }
}

