.provider-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'header header header header' 'material material days price';
  grid-gap: $space-l;
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  padding: $space-l;
  align-items: flex-end;
  border: 1px solid $color-primary;

  &__header {
    grid-area: header;
    border-bottom: 1px solid $color-border-minor;
    display: flex;
    align-items: center;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    padding-bottom: $space-l;

    & > .icon {
      margin-right: $space-base;
      font-size: $font-size-xxl;
      color: $color-primary;
    }
  }

  &__headline {
    flex-grow: 1;
    margin-right: $space-base;
  }

  &__image {
    @include scut-ratio-box(26/17);
    grid-area: image;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__days-column {
    grid-area: days;
  }

  &__column-head {
    @include scut-truncate;
    font-size: $font-size-l;
    line-height: $line-height-s;

    & > .info {
      margin-left: $space-s;
    }
  }

  &__price-column {
    grid-area: price;
  }

  &__material-column {
    grid-area: material;
  }

  &__action-button {
    grid-area: action-button;
    text-align: right;
    border-top: 1px solid $color-border-minor;
    padding-top: $space-l;
  }
}
