.OfferItem {
  $data-column-width: 18em;

  display: flex;
  align-items: center;

  &__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-right: $space-s;

    @include respond-to(desktop) {
      flex-direction: row;
      align-items: flex-end;
      margin-right: $space-xxxl;

      & > * {
        min-width: $data-column-width;
      }

      & > * + * {
        margin-top: 0;
        margin-left: $space-xxl;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    & > * + * {
      margin-left: $space-base;
    }
  }
}
