.PageHeader {
  margin-bottom: $space-xxl;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $space-base;
    margin-bottom: $space-base;
    border-bottom: 1px solid $color-border;

    & > * {
      margin-bottom: 0;
    }

    @include respond-to(tablet) {
      align-items: flex-end;
    }
  }
}
