.Modal {
  $modal-default-width: 600px;
  $modal-l-width: 1000px;
  $close-button-size: 20px;
  $modal-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0;

  width: $modal-default-width;
  max-width: 100%;
  max-height: 100%;
  background-color: $color-bg;
  padding: $space-l;
  overflow: auto;
  border-radius: $border-radius;
  box-shadow: $modal-box-shadow;

  &__headline {
    position: relative;
    padding-right: $close-button-size + $space-xl;
    color: $color-minor;

    & > .Headline {
      margin-bottom: 0;
    }

    & > .CloseButton {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__header {
    padding-bottom: $space-xl;
  }

  &__content {
    padding: 0;

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding-top: $space-xl;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: $space-xl;
    }
  }

  &--size-l {
    width: $modal-l-width;
  }
}
