.SelectField {
  $space-around-icon: 0.7em;

  position: relative;
  display: block;
  width: 100%;
  height: $field-height-compact;
  line-height: $field-height-compact;
  padding: 0 (2 * $space-around-icon + 1em) 0 $space-base;
  font-size: $font-size-base;
  border-radius: $border-radius;
  border: 1px solid $color-border;
  box-shadow: $box-shadow-base;
  outline: 0;
  text-align: left;
  background: $color-bg;
  color: $color-minor;

  & > .Icon {
    position: absolute;
    top: 0;
    right: $space-around-icon;
    height: 100%;
    color: $color-text;
  }

  @include respond-to(tablet) {
    height: $field-height;
    line-height: $field-height;
  }

  &__value {
    @include scut-truncate;

    display: block;
  }

  &--selected {
    color: $color-text;
  }

  &--compact {
    @include respond-to(tablet) {
      height: $field-height-compact;
      line-height: $field-height-compact;
    }
  }

  &--constant {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    cursor: initial;

    & > .Icon {
      display: none;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
  }

  &--open {
    & > .Icon {
      transform: rotate(180deg);
    }
  }

  &:focus:not(:disabled) {
    box-shadow: $box-shadow-focus;
    border-color: $color-primary;
  }

  &--error,
  &--error:focus:not(:disabled) {
    border-color: $color-error;
    box-shadow: $box-shadow-error;
  }

  &--warning,
  &--warning:focus:not(:disabled) {
    border-color: $color-warning;
    box-shadow: $box-shadow-warning;
  }
}
