.ColorTrait {
  $color-trait-size: 30px;

  display: inline-block;
  height: $color-trait-size;
  width: $color-trait-size;
  border: 1px solid $color-gray-1;
  background: $color-bg;
  background-size: cover;
  vertical-align: middle;
  border-radius: $color-trait-size / 2;
}
