.provider-teaser {
  border-top: 1px solid $color-border-minor;
  padding-top: $space-xl;
  margin-bottom: $space-xxl;
  text-align: center;

  & > * {
    display: block;
    margin: 0 auto $space-l;

    @include respond-to(medium) {
      display: inline-block;
      margin-left: $space-xl;
      margin-right: $space-xl;
    }
  }

  &--left {
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 0;

    & > * {
      margin: 0 $space-xl $space-xl 0;
    }
  }
}
