.UploadModelList {
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $space-base;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $space-base;
    margin: 0;

    @include respond-to(tablet) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $space-xl;
    }
  }

  &__item {
    min-width: 0;

    @include respond-to(tablet) {
      height: $upload-model-item-height;
    }
  }
}
