.UploadModelList {
  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $space-base;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space-xl;
    margin: 0;
  }

  &__item {
    height: $upload-model-item-height;
    min-width: 0;
  }
}
