.u-no-margin {
  margin: 0;
}

.u-margin-bottom {
  margin-bottom: $space-base;
}
.u-margin-bottom-l {
  margin-bottom: $space-l;
}
.u-margin-bottom-xl {
  margin-bottom: $space-xl;
}

.u-margin-left {
  margin-left: $space-base;
}
.u-margin-left-l {
  margin-left: $space-l;
}
.u-margin-left-xl {
  margin-left: $space-xl;
}

.u-margin-right {
  margin-right: $space-base;
}
.u-margin-right-l {
  margin-right: $space-l;
}
.u-margin-right-xl {
  margin-right: $space-xl;
}
