.CartNavLink {
  $icon-size: 30px;
  // Needs to be synced with the component
  $count-transition-timeout: 0.5s;
  $flyout-transition-timeout: 0.3s;
  $notify-transition-delay: 1s;

  display: inline-flex;
  flex-direction: column;
  color: $color-primary;
  font-size: $font-size-s;
  align-items: center;
  outline: none;
  text-decoration: none;

  &__icon {
    position: relative;

    & > .Icon {
      color: $color-primary;
      font-size: scut-em($icon-size);
    }
  }

  &__count {
    display: block;
    position: absolute;
    // Position the count within the icon
    top: scut-em(-2px, $font-size-s);
    left: scut-em(7px, $font-size-s);
    width: scut-em(16px, $font-size-s);

    transition: transform $count-transition-timeout cubic-bezier(0.2, 0.9, 0.3, 1.5);
    transform: scale(1);

    color: $color-cart-count;
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
    text-align: center;

    &.CartNavLink--count-transition-enter {
      transform: scale(1.5);
    }

    &.CartNavLink--count-transition-enter-active,
    &.CartNavLink--count-transition-enter-done {
      transform: scale(1);
    }

    &.CartNavLink--count-transition-exit,
    &.CartNavLink--count-transition-exit-done {
      transform: scale(0.1);
    }
  }

  &__label {
    margin-top: 0.2em;
  }

  &:hover,
  &:active {
    color: $color-primary-active;
  }

  &__portal {
    opacity: 0;

    &.CartNavLink--transition-enter-done {
      transition: opacity $flyout-transition-timeout ease-out;
      opacity: 1;
    }

    &.CartNavLink--transition-exit,
    &.CartNavLink--transition-exit-done {
      transition: opacity $flyout-transition-timeout ease-out;
      opacity: 0;
    }
  }

  &--zero {
    .CartNavLink__count {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &--notify {
    .CartNavLink__portal {
      &.CartNavLink--transition-enter {
        transition-delay: $notify-transition-delay;
        transition: opacity $flyout-transition-timeout ease-out;
        opacity: 1;
      }
    }
  }
}
