.OrderConfirmationItem {
  $icon-size: 55px;

  display: inline-flex;
  align-items: center;

  @include respond-to(tablet) {
    flex-direction: column;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: $oder-confirmation-item-size;
    width: $oder-confirmation-item-size;
    font-size: $icon-size;
    border: 2px solid $color-bg;
    border-radius: $oder-confirmation-item-size / 2;
    background-color: $color-bg;
    color: $color-minor-highlighted;
  }

  &__text {
    color: $color-minor-highlighted;
    margin-left: $space-base;

    @include respond-to(tablet) {
      text-align: center;
      margin-top: $space-base;
      margin-left: 0;
    }
  }

  &--active {
    .OrderConfirmationItem__icon {
      border-color: $color-primary;
      color: $color-primary;
    }

    .OrderConfirmationItem__title {
      font-weight: $font-weight-bold;
    }
  }
}
