// Responsive visibility

.u-hide-small {
  @include respond-to(small-only) {
    display: none !important;
  }
}
.u-show-small {
  @include respond-to(medium) {
    display: none !important;
  }
}

.u-hide-medium {
  @include respond-to(medium-only) {
    display: none !important;
  }
}
.u-show-medium {
  @include respond-to(small-only) {
    display: none !important;
  }
  @include respond-to(large) {
    display: none !important;
  }
}

.u-hide-large {
  @include respond-to(large-only) {
    display: none !important;
  }
}
.u-show-large {
  @include respond-to(small-only) {
    display: none !important;
  }
  @include respond-to(medium-only) {
    display: none !important;
  }
  @include respond-to(xlarge) {
    display: none !important;
  }
}

.u-hide-xlarge {
  @include respond-to(xlarge) {
    display: none !important;
  }
}
.u-show-xlarge {
  @include respond-to(small-only) {
    display: none !important;
  }
  @include respond-to(medium-only) {
    display: none !important;
  }
  @include respond-to(large-only) {
    display: none !important;
  }
}
