// Responsive visibility

.u-hide-mobile {
  @include respond-to(mobile-only) {
    display: none !important;
  }
}
.u-show-mobile {
  @include respond-to(tablet) {
    display: none !important;
  }
}

.u-hide-tablet {
  @include respond-to(tablet-only) {
    display: none !important;
  }
}
.u-show-tablet {
  @include respond-to(mobile-only) {
    display: none !important;
  }
  @include respond-to(desktop) {
    display: none !important;
  }
}

.u-hide-desktop {
  @include respond-to(desktop-only) {
    display: none !important;
  }
}
.u-show-desktop {
  @include respond-to(mobile-only) {
    display: none !important;
  }
  @include respond-to(tablet-only) {
    display: none !important;
  }
  @include respond-to(bigscreen) {
    display: none !important;
  }
}

.u-hide-bigscreen {
  @include respond-to(bigscreen) {
    display: none !important;
  }
}
.u-show-bigscreen {
  @include respond-to(mobile-only) {
    display: none !important;
  }
  @include respond-to(tablet-only) {
    display: none !important;
  }
  @include respond-to(desktop-only) {
    display: none !important;
  }
}
