.u-no-margin {
  margin: 0;
}

.u-no-margin-bottom {
  margin-bottom: 0;
}

.u-margin-bottom-s {
  margin-bottom: $space-s;
}
.u-margin-bottom {
  margin-bottom: $space-base;
}
.u-margin-bottom-l {
  margin-bottom: $space-l;
}
.u-margin-bottom-xl {
  margin-bottom: $space-xl;
}
.u-margin-bottom-xxl {
  margin-bottom: $space-xxl;
}
.u-margin-bottom-xxxl {
  margin-bottom: $space-xxxl;
}

.u-margin-top-s {
  margin-top: $space-s;
}
.u-margin-top {
  margin-top: $space-base;
}
.u-margin-top-l {
  margin-top: $space-l;
}
.u-margin-top-xl {
  margin-top: $space-xl;
}
.u-margin-top-xxl {
  margin-top: $space-xxl;
}
