.u-no-margin {
  margin: 0;
}

.u-margin-bottom-s {
  margin-bottom: $space-s;
}
.u-margin-bottom {
  margin-bottom: $space-base;
}
.u-margin-bottom-l {
  margin-bottom: $space-l;
}
.u-margin-bottom-xl {
  margin-bottom: $space-xl;
}
.u-margin-bottom-xxl {
  margin-bottom: $space-xxl;
}
