// Transitions used with ReactCSSTransitionGroup

.u-transition-fade {
  &-enter {
    opacity: 0.01;
    transition: opacity $transition-duration-fast linear;
  }
  &-enter-active {
    opacity: 1;
  }

  &-leave {
    opacity: 1;
    transition: opacity $transition-duration-fast linear;
  }
  &-leave-active {
    opacity: 0.01;
  }
}
