.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

.u-align-center {
  text-align: center;
}

.u-font-size-base {
  font-size: $font-size-base;
}

.u-font-size-l {
  font-size: $font-size-l;
}

.u-font-size-xl {
  font-size: $font-size-xl;
}
