.ProviderImage {
  padding: $space-xl;
  border: 1px solid $color-border-minor;
  border-radius: $border-radius;
  margin-bottom: $space-base;

  &__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  &--inline {
    padding: 0;
    border: 0;
    margin: 0;

    .ProviderImage__image {
      display: inline-block;
      vertical-align: middle;
      height: 1em;
    }
  }

  &--link {
    cursor: pointer;
  }
}
