.RadioButton {
  @include scut-truncate;

  display: block;
  background-color: $color-white;
  height: $field-height-compact;
  line-height: $field-height-compact;
  font-size: $font-size-l;
  padding: 0 1em;
  text-align: center;
  min-width: 3.5em;
  color: $color-primary;

  &:hover {
    background-color: $color-blue-very-light;
  }

  &[aria-checked='true'] {
    background-color: $color-primary;
    color: $color-invert-text;
  }

  &[aria-disabled='true'] {
    background-color: $color-gray-5;
    cursor: not-allowed;
    color: $color-minor;

    &:hover {
      background-color: $color-gray-5;
    }
  }

  &[aria-checked='true'].RadioButton[aria-disabled='true'] {
    background-color: $color-primary;
    color: $color-invert-text;
  }

  @include respond-to(tablet) {
    height: $field-height;
    line-height: $field-height;
  }

  &__input {
    display: none;
  }

  &--tiny {
    height: $field-height-tiny;
    line-height: $field-height-tiny;
    font-size: $font-size-base;
    padding: 0 0.5em;
  }
}
