.Footer {
  padding: $space-l;
  text-align: center;
  border-top: 1px solid $color-border-minor;
  color: $color-minor;
  background-color: $color-bg;

  &__grid {
    display: grid;
    grid-template-columns: 12fr;
    grid-gap: $space-base;

    @include respond-to(medium) {
      grid-template-columns: 6fr 6fr;
    }
  }

  &__copyline {
    @include respond-to(medium) {
      text-align: left;
    }
  }

  &__linkList {
    list-style: none;
    margin: 0;
    padding: 0;

    @include respond-to(medium) {
      text-align: right;
    }
  }

  &__link {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 0.5em;
    }
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
