.ModelList {
  position: relative;
  margin-bottom: $space-base;

  &__header {
    position: sticky;
    top: $nav-bar-height-mobile;
    // To let the sticky head also hide shadows of the model items
    margin-top: -1 * $space-base;
    margin-left: -1 * $space-base;
    margin-right: -1 * $space-base;
    // To let header disappear before last model item
    margin-bottom: $model-item-height;
    display: flex;
    flex-direction: row;
    padding: $space-base;
    z-index: 1;
    background: $color-bg;

    @include respond-to(tablet) {
      top: $nav-bar-height;
    }

    & + .ModelList__items {
      // To pull items back to top (due to position sticky)
      margin-top: -1 * $model-item-height + $space-base;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: $space-base;
      right: $space-base;
      display: block;
      height: 0;
      border-bottom: 1px solid $color-border-minor;
    }
  }

  &__select {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    & > * + * {
      margin-left: $space-base;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;

    & > * + * {
      margin-top: $space-base;
    }
  }
}
