.model-list {
  position: relative;
  margin-bottom: $space-base;

  &__header {
    position: sticky;
    top: $nav-bar-height;
    // To let header disappear before last model item
    margin-bottom: $model-item-height;
    display: flex;
    flex-direction: row;
    padding: $space-l 0;
    padding-right: $space-xl;
    z-index: 1;
    background: $color-bg;
    border-bottom: 1px solid $color-border-minor;

    & + .model-list__items {
      // To pull items back to top (due to position sticky)
      margin-top: -1 * $model-item-height;
    }
  }

  &__select {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    & > * + * {
      margin-left: $space-base;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $model-item-space-left;
  }
}
