.Button {
  $icon-only-size: 24px;

  display: inline-block;
  height: $field-height;
  padding: 0 1em;
  background-color: $color-primary;
  color: $color-invert-text;
  line-height: $field-height;
  font-size: $font-size-l;
  border-radius: $border-radius;
  text-align: center;
  box-shadow: $box-shadow-base;
  outline: 0;
  transition: background-color $transition-duration-fast ease-in-out,
    color $transition-duration-fast ease-in-out;
  vertical-align: middle;

  & > .icon {
    position: relative;
    font-size: 1.2em;
    top: -0.08em; // Optimize vertical center

    & + * {
      margin-left: 0.5em;
    }
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: $color-primary-active;
  }

  &:active:not([disabled]) {
    background-color: $color-primary-active;
    box-shadow: $box-shadow-active;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $color-gray-5;
    color: $color-minor;
    box-shadow: none;
  }

  &--selected {
    background-color: $color-gray-5;
    color: $color-minor;
    box-shadow: none;

    & > .icon {
      color: $color-green;
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: $color-gray-5;
      color: $color-minor;
      box-shadow: none;
    }
  }

  &--text {
    padding: 0;
    background-color: inherit;
    color: $color-link;
    box-shadow: none;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: inherit;
      color: $color-link;
      box-shadow: none;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--compact {
    height: $compact-field-height;
    line-height: $compact-field-height;
    padding: 0 1.5em;
  }

  &--tiny {
    height: $tiny-field-height;
    line-height: $tiny-field-height;
    font-size: $font-size-base;
    padding: 0 1em;
  }

  &--iconOnly {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: $icon-only-size;
    width: $icon-only-size;
    background: transparent;
    color: $color-primary;
    box-shadow: none;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: inherit;
      color: $color-primary-active;
      box-shadow: none;
    }

    &[disabled] {
      background-color: inherit;
    }

    & > .icon {
      top: initial;
      font-size: 1em;
      margin: 0;
    }
  }

  &--minor {
    background: $color-bg;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &:active:not([disabled]) {
      background-color: $color-bg;
      color: $color-primary-active;
      border-color: $color-primary-active;
    }

    &[disabled] {
      border-color: $color-gray-5;
    }
  }
}
