.provider-progress-bar {
  $stacking: bar, content;

  position: relative;
  height: $nav-bar-content-height;
  line-height: $nav-bar-content-height;
  padding: 0 $space-base;
  background: $color-bg;

  &__content {
    position: relative;
    z-index: z($stacking, content);
    width: 100%;
    height: 100%;
    color: $color-primary;
    font-size: $font-size-base;
    text-align: left;

    & > .icon {
      margin-right: $space-base;
      font-size: $font-size-l;
    }

    & > .LoadingIndicator {
      margin-right: $space-base;
      font-size: $font-size-l;
    }
  }

  &__bar {
    position: absolute;
    z-index: z($stacking, bar);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-blue-lighter;
    transform-origin: 0 0;
    transition: transform $transition-duration-fast ease-in-out;
  }
}
