.AppLayout {
  $stacking: children, header;

  position: relative;
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    z-index: z($stacking, header);
  }

  &__children {
    position: relative;
    min-height: calc(100vh - #{$nav-bar-height});
    z-index: z($stacking, children);
  }
}
