.column {
  @for $i from 1 through 12 {
    &--sm-#{$i} {
      grid-column-end: span $i;
    }
  }

  @include respond-to(medium) {
    @for $i from 1 through 12 {
      &--md-#{$i} {
        grid-column-end: span $i;
      }
    }
  }

  @include respond-to(large) {
    @for $i from 1 through 12 {
      &--lg-#{$i} {
        grid-column-end: span $i;
      }
    }
  }
}
