.LoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: $font-size-l;

  &--insideContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: initial;
  }
}
