.TooltipBalloon {
  $triangle-width: 10px;
  $triangle-height: 6px;

  display: inline-block;
  position: relative;
  max-width: 300px;
  padding: $space-l;
  border-radius: $border-radius;
  color: $color-tooltip-text;
  background-color: $color-tooltip-bg;
  font-size: $font-size-s;
  font-weight: $font-weight-light;
  pointer-events: none;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;

  & > strong {
    font-weight: $font-weight-bold;
  }

  &__arrow {
    @include scut-triangle(
      down,
      $triangle-width $triangle-height,
      $color-tooltip-bg
    );

    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5 * $triangle-width;
  }

  &--bottom {
    .TooltipBalloon__arrow {
      @include scut-triangle(
        up,
        $triangle-width $triangle-height,
        $color-tooltip-bg
      );

      top: auto;
      bottom: 100%;
    }
  }

  &--left {
    text-align: left;

    .TooltipBalloon__arrow {
      @include scut-triangle(
        right,
        $triangle-height $triangle-width,
        $color-tooltip-bg
      );

      left: 100%;
      top: 50%;
      margin-left: 0;
      margin-top: -0.5 * $triangle-width;
    }
  }

  &--right {
    text-align: left;

    .TooltipBalloon__arrow {
      @include scut-triangle(
        left,
        $triangle-height $triangle-width,
        $color-tooltip-bg
      );

      left: auto;
      top: 50%;
      right: 100%;
      margin-left: 0;
      margin-top: -0.5 * $triangle-width;
    }
  }
}
