.RecommendedOfferSection {
  display: grid;
  grid-template-columns: minmax(auto, 600px);
  grid-gap: $space-l;

  @include respond-to(bigscreen) {
    grid-template-columns: minmax(auto, 600px) minmax(auto, 600px);
  }
}
