.RecommendedOfferSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $space-l;
  max-width: $global-max-width;

  @include respond-to(bigscreen) {
    grid-template-columns: 1fr 1fr;
  }
}
