.headline {
  display: block;
  margin: 0 0 $space-base;
  font-weight: $font-weight-bold;
  color: inherit;
  font-size: $font-size-l;

  & > .Icon {
    position: relative;
    font-size: 1.3em;
    margin-right: 0.5em;
    top: -0.08em; // Optimize vertical center
  }

  &--s {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &--l {
    font-size: $font-size-xl;
    font-weight: $font-weight-light;
  }

  &--xl {
    margin-bottom: $space-xl;
    font-size: $font-size-xxl;
    font-weight: $font-weight-light;
  }

  &--minor {
    color: $color-minor;
  }

  &--light {
    color: $color-text-label;
  }

  &--invert {
    color: $color-invert-text;
  }

  &--warning {
    & > .Icon {
      color: $color-warning;
    }
  }

  &--inline {
    display: inline-block;
  }

  &--primary {
    color: $color-primary;
  }
}
