.checkbox-field {
  $checkbox-size: 18px;

  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  position: relative;
  background-color: $color-field-bg;
  border: 2px solid $color-border;
  border-radius: $border-radius / 2;

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: $border-radius / 2;
  }

  &__checked-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: transparent;
    font-size: $checkbox-size - 2 * 2px; // Due to 2px border
  }

  &--checked {
    background: $color-primary;
    border-color: $color-primary;

    .checkbox-field__checked-icon {
      color: $color-bg;
    }
  }

  &--error {
    border-color: $color-error;
  }

  &--error.checkbox-field--checked, {
    background: $color-error;

    .checkbox-field__checked-icon {
      color: $color-bg;
    }
  }
}
