.color-square {
  display: inline-block;
  height: $color-square-size;
  width: $color-square-size;
  border: 1px solid $color-gray-1;
  background: $color-bg;
  background-size: cover;
  vertical-align: middle;
}
