.configuration-header {
  background: $color-bg;

  &__grid {
    @include grid;
    padding: $space-l 0;
    margin: 0;
    border-bottom: 1px solid $color-border;
  }

  &__cell {
    @include span(12);

    @include respond-to(small-only) {
      margin-left: 0;
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: $space-base;
      }

      &:nth-child(2n) {
        @include span(6);
      }

      &:last-child {
        @include span(6);
        padding-right: 0;
        & > * {
          float: right;
        }
      }
    }

    @include respond-to(medium) {
      @include span(6);

      &:first-child {
        @include span(6);
      }

      &:nth-child(2n) {
        @include span(2);
        padding-left: 0;
      }

      &:last-child {
        @include span(4);
        padding-right: 0;
        & > * {
          float: right;
        }
      }
    }
  }
}
