.headline {
  margin: 0 0 $space-base;
  font-weight: $font-weight-bold;
  color: inherit;
  font-size: $font-size-xl;

  & > .icon {
    position: relative;
    font-size: 1.3em;
    margin-right: .5em;
    top: -0.08em; // Optimize vertical center
  }

  &--xs {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &--s {
    font-size: $font-size-l;
    font-weight: $font-weight-regular;
  }

  &--l {
    font-size: $font-size-xxl;
    font-weight: $font-weight-light;
    color: $color-black;
  }

  &--xl {
    margin-bottom: $space-xl;
    font-size: $font-size-xxxl;
    font-weight: $font-weight-light;
    color: $color-gray-1;
  }

  &--disabled {
    color: $color-disabled;
  }

  &--minor {
    color: $color-gray-2;
  }

  &--warning {
    & > .icon {
      color: $color-warning;
    }
  }
}
