.image-container {
  @include scut-ratio-box(4/3);

  width: 100%;
  background: $color-gray-3;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: $font-size-xl;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    opacity: 0;
  }

  &--loaded {
    .image-container__image {
      transition: opacity $transition-duration-fast ease-out;
      opacity: 1;
    }
  }

  &--model {
    .image-container__image {
      // Model images come with a black background.
      // We want to mix that with the background gradient.
      // REMOVED FOR NOW BECAUSE THE THUMBNAIL IS LOOKING GRAYISH
      //background-blend-mode: lighten;
    }
  }
}
