.image-container {
  @include scut-ratio-box(4/3);

  width: 100%;
  background-image: radial-gradient(circle at 50% 51%, #2e6887, #020e18);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: $font-size-xl;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    opacity: 0;
  }

  &--loaded {
    .image-container__image {
      transition: opacity $transition-duration-fast ease-out;
      opacity: 1;
    }
  }
}
