.info {
  $info-size: 1em;

  position: relative;
  box-sizing: content-box;
  border: 1px solid $color-primary;
  background: $color-primary;
  border-radius: 50%;
  color: $color-white;
  width: $info-size;
  height: $info-size;
  line-height: $info-size;
  font-family: AmericanTypewriter, sans-serif;
  outline: 0;
  transition:
    background-color $transition-duration-fast ease-in-out,
    border-color $transition-duration-fast ease-in-out,
    color $transition-duration-fast ease-in-out;

  &:hover {
    border-color: $color-primary-active;
    background: $color-primary-active;
  }

  &:before {
    content: 'i';
    display: block;
    position: absolute;
    top: 1px; // Manual center correction
    left: 1px; // Manual center correction
    bottom: 0;
    right: 0;
    font-size: .8em;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 1em / 0.8em;
  }

  &__tooltip {
    z-index: z($global-stacking, tooltip);
    position: absolute;
  }

  &--minor {
    background: transparent;
    color: $color-primary;

    &:hover {
      border-color: $color-primary-active;
      color: $color-primary-active;
      background: transparent;
    }
  }
}
