.input-checkbox {
  $checkbox-size: 20px;

  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  position: relative;
  background-color: $color-field-bg;
  border: 2px solid $color-border;
  border-radius: $border-radius / 2;
  margin-bottom: $space-base;
  box-shadow: $box-shadow-base;

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: $border-radius / 2;

    &:invalid ~ .input-checkbox__checked-icon{
      border-color: $color-error;
      box-shadow: $box-shadow-error;
    }

    &:focus ~ .input-checkbox__checked-icon{
      border-color: $color-field-focus;
      box-shadow: $box-shadow-focus;
    }

    &:active ~ .input-checkbox__checked-icon{
      box-shadow: $box-shadow-active;
    }
  }

  &__checked-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: transparent;
    font-size: $font-size-l;
  }

  &--checked {
    .input-checkbox__checked-icon {
      color: $color-text;
    }
  }

  &--error {
    border-color: $color-error;
    box-shadow: $box-shadow-error;
  }

  &--error.input-checkbox--checked, {
    .input-checkbox__checked-icon {
      color: $color-error;
    }
  }
}
