.labeled-field {
  height: $field-height;
  line-height: $field-height;

  &__label {
    font-size: $font-size-l;
    color: $color-minor;
    padding-right: $space-l;
  }

  &__field {
    display: inline-block;
  }
}
