.loading-indicator {
  display: inline-block;
  color: $color-primary;
  vertical-align: middle;

  &__spinner {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    animation: loading-indicator-spin 1s linear infinite;

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      border-left: 0.15em solid currentColor;
      border-top: 0.15em solid currentColor;
      border-bottom: 0.15em solid currentColor;
      border-radius: 0.5em 0 0 0.5em;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      border-left: 0.15em solid currentColor;
      border-top: 0.15em solid currentColor;
      border-right: 0.15em solid currentColor;
      border-radius: 0.5em 0.5em 0 0;
    }
  }

  &--invert {
    color: $color-invert-text;
    opacity: 0.5;
  }

  @keyframes loading-indicator-spin {
    100% { transform: rotate(360deg); }
  }
}
