.magnifyable-item {
  @include interface-touchable();

  position: relative;
  outline: 0;
  color: $color-invert-text;

  &__icon {
    position: absolute;
    right: $space-s;
    bottom: $space-s;
    font-size: $font-size-xl;
    transform-origin: right bottom;
    transition: transform $transition-duration-fast ease-out;
  }

  &:hover, &:focus {
    .magnifyable-item__icon {
      transform: scale(1.1);
    }
  }
}
