.material-card-list {
  @include grid;
  margin-top: 0;
  margin-bottom: -2*gutter()+$space-base;
  padding: 0;
  list-style: none;

  &__card {
    @include span(12);
    margin-bottom: 2 * gutter();

    @include respond-to(medium) {
      @include span(6);
    }

    @include respond-to(large) {
      @include span(3);
    }
  }
}
