
.model-item-error {
  $image-container-width: 130px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $space-base $space-xl;
  height: $model-item-height;
  border-top: 1px solid $color-bg;
  border-bottom: 1px solid $color-bg;
  background: $color-red-light;

  & > .number-field {
    flex-shrink: 0;
  }

  &__image {
    @include scut-ratio-box(4/3);
    background-image: url('../asset/image/error.svg');
    background-position: center center;
    background-size: cover;
    flex-shrink: 0;
    width: $image-container-width;
    margin-right: $space-xl;
  }

  &__description {
    flex-grow: 1;
    margin-left: $space-xl;
    font-size: $font-size-l;
  }

  &__title {
    @include scut-truncate;
    display: block;
    color:$color-error;
    font-weight: $font-weight-bold;
  }

  &__subline {
    @include scut-truncate;
    display: block;
    color: $color-gray-1;
  }

  &__delete {
    color: $color-invert-text;
    outline: 0;
  }
}
