.model-quantity-item {
  $image-container-width: 130px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $space-base $space-xl;
  height: $model-item-height;
  background: $color-bg-highlight;

  & > .image-container {
    flex-shrink: 0;
    width: $image-container-width;
  }

  &__body {
    min-width: 0;
    flex-grow: 1;
    margin-left: $space-xl;
    font-size: $font-size-l;
  }

  &__title {
    @include scut-truncate;
    margin-bottom: $space-base
  }

  & > .price {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-left: $space-xl;
  }

  &__delete {
    margin-left: $space-xl;
  }
}
