
.model-item-load {
  $image-container-width: 130px;
  $stacking: progress, delete, description;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $space-base $space-xl;
  height: $model-item-height;
  border-top: 1px solid $color-bg-highlight;
  border-bottom: 1px solid $color-bg-highlight;
  background: $color-bg-highlight;

  & > .image-container {
    flex-shrink: 0;
    width: $image-container-width;
    margin-right: $space-xl;
  }

  & > .number-field {
    flex-shrink: 0;
  }

  &__description {
    z-index: z($stacking, description);
    position: relative;
    flex-grow: 1;
    margin-left: $space-xl;
    font-size: $font-size-l;
  }

  &__title {
    @include scut-truncate;
    display: block;
    color: $color-text;
    font-weight: $font-weight-regular;
    text-align: center;

    & > .loading-indicator {
      position: relative;
      top: -0.1em; // Better vertical alignment
      vertical-align: middle;
      margin-right: $space-base;
    }
  }

  &__subline {
    @include scut-truncate;
    display: block;
    color: $color-minor;
    text-align: center;
  }

  &__delete {
    z-index: z($stacking, delete);
    position: relative;
    outline: 0;
  }

  &__progress {
    position: absolute;
    z-index: z($stacking, progress);
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $color-blue-very-light;
    transform-origin: 0 0;
    transition: opacity $transition-duration-fast linear, transform $transition-duration-fast ease-in-out;
    width: 100%;
  }
}
