.overlay {
  $modal-default-width: 600px;
  $modal-l-width: 1000px;
  $close-button-size: 20px;

  position: relative;

  &__mask {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    width: $modal-default-width;
    max-height: 100%;
    background-color: $color-bg-highlight;
    padding: $space-xl;
    overflow: auto;
  }

  &__headline {
    position: relative;
    padding-right: $close-button-size + $space-xl;

    & > .headline {
      margin-bottom: 0;
    }
  }

  &__header {
    padding-bottom: $space-base;
    border-bottom: 1px solid $color-border;
  }

  &__close {
    @include scut-center-transform(y);
    position: absolute;
    right: 0;
    font-size: $close-button-size;
    outline: 0;
    line-height: 0;
  }

  &__content {
    padding: $space-l 0;
  }

  &__footer {
    padding-top: $space-l;
    border-top: 1px solid $color-border;
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: $space-xl;
    }
  }

  &--l {
    .overlay__modal {
      width: $modal-l-width;
    }
  }
}
