.payment-section {
  &__box {
    padding: $space-l;
    border: 1px solid $color-border-minor;
  }

  &__price-components {
    list-style: none;
    margin: 0;
    padding: 0 0;
    margin-bottom: $space-l;
  }

  &__price-component,
  &__total-price {
    @include scut-clearfix;
    margin: $space-base 0;
    padding: 0;
    font-size: $font-size-l;

    &:first-child {
      margin: 0;
    }
  }

  &__price-label {
    float: left;
    color: $color-minor;
  }

  &__price-label-smallprint {
    float: left;
    font-size: $font-size-s;
    color: $color-minor;
  }

  &__price-value {
    float: right;
  }

  &__price-detail {
    display: block;
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__price-detail-item {
    @include scut-clearfix;
    display: block;
  }

  &__price-detail-label {
    float: left;
    color: $color-minor;

    &:before {
      content: '-';
      padding-right: $space-s;
    }
  }
  &__price-detail-value {
    float: right;
  }

  &__total-price {
    margin: $space-l 0 0;
    line-height: $font-size-xxl;

    .payment-section__price-value {
      font-size: $font-size-xxl;
      font-weight: $font-weight-bold;
    }
  }

  &__buttons {
    list-style: none;
    margin: 0;
    padding: 0;

    & > * + * {
      margin-top: $space-l;
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: $space-l 0 0;
  }

  &__link {
    margin-bottom: $space-l;

    & > .headline {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section-label {
    font-size: $font-size-l;
    color: $color-minor;
    margin-bottom: $space-base;
  }
}
