.provider-item {
  border-bottom: 1px solid $color-border-minor;

  &__provider,
  &__price,
  &__shipping-price,
  &__total-price,
  &__checkout,
  &__production-time,
  &__process {
    padding: $space-l $space-l;
    vertical-align: middle;
    font-size: $font-size-l;
    text-align: left;
  }

  &__checkout {
    padding-right: 0;
  }

  &__shipping-price {
    .info {
      font-size: $font-size-base;
      margin-left: $space-s;
    }
  }

  &__provider {
    white-space: nowrap;
    padding-left: $space-base;

    & > .provider-image {
      float: left;
      display: block;
      max-width: 110px; // This should fit next to info box
    }

    & > .info {
      font-size: 16px;
      display: block;
      position: relative;
      margin-left: 0.5em;
      float: right;
    }
  }
}
