.provider-list {
  width: 100%;
  margin: 0 0 $space-base;
  table-layout: fixed;
  border-collapse: collapse;

  &__header {
    background: $color-invert-bg;
    color: $color-invert-text;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }

  &__provider,
  &__price,
  &__total-price,
  &__delivery,
  &__shipping,
  &__process,
  &__checkout {
    width: 25%;
    padding: $space-base $space-base;
    text-align: left;
  }

  &__provider {
    width: 260px;
  }

  &__checkout {
    width: 270px;
  }
}
