.process-step {
  $stacking: line, point;
  $point-size: 12px;

  display: block;
  position: relative;
  padding-top: $point-size + $space-s;
  text-align: center;
  font-size: $font-size-l;
  line-height: $line-height-s;
  font-weight: $font-weight-light;
  text-decoration: none;
  color: $color-invert-text;
  transition: color $transition-duration-fast ease-in-out;

  &__point {
    display: block;
    position: absolute;
    z-index: z($stacking, point);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: $point-size;
    height: $point-size;
    border-radius: 50%;
    background: currentColor;
    transition:
      background-color $transition-duration-fast ease-in-out,
      border-color $transition-duration-fast ease-in-out;
  }

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: z($stacking, line);
    top: 0.5 * $point-size;
    height: 0;
    width: 50%;
    border-top: 1px solid $color-invert-text;
    transition: border-color $transition-duration-fast ease-in-out;
  }
  &:after {
    left: 50%;
  }
  &:before {
    right: 50%;
  }

  &--inactive {
    color: mix($color-invert-text, $color-invert-bg, 50%);

    .process-step__point {
      border-color: mix($color-invert-text, $color-invert-bg, 50%);
    }

    &:after,
    &:before {
      border-top-color: mix($color-invert-text, $color-invert-bg, 50%);
    }
  }

  &--first {
    &:before {
      display: none;
    }
  }

  &--last {
    &:after {
      display: none;
    }
  }

  &--last-active {
    &:after {
      border-top-color: mix($color-invert-text, $color-invert-bg, 50%);
    }
  }
}
