.provider-progress-bar {
  $stacking: bar, content;

  position: relative;
  height: $field-height;
  line-height: $field-height;
  padding: 0 $space-base;
  background: $color-bg-highlight;

  &__content {
    position: relative;
    z-index: z($stacking, content);
    width: 100%;
    height: 100%;
    color: $color-minor;
    font-size: $font-size-l;
    text-align: left;
    font-weight: $font-weight-light;

    & > .icon {
      color: $color-green;
      margin-right: 1em;
      font-size: $font-size-xl;
    }

    & > .loading-indicator {
      margin-right: 1em;
      font-size: $font-size-xl;
    }
  }

  &__bar {
    position: absolute;
    z-index: z($stacking, bar);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-blue-very-light;
    transform-origin: 0 0;
    transition: transform $transition-duration-fast ease-in-out;
  }
}
