.radio-button {
  display: block;
  background-color: $color-white;
  height: $field-height;
  line-height: $field-height;
  font-size: $font-size-l;
  padding: 0 1em;
  text-align: center;
  min-width: 3.5em;
  color: $color-primary;

  &:hover {
    background-color: $color-blue-very-light;
  }

  &[aria-checked="true"] {
    background-color: $color-primary;
    color: $color-invert-text;
  }

  &[aria-disabled="true"] {
    background-color: $color-gray-5;
    cursor: not-allowed;
    color: $color-minor;

    &:hover {
      background-color: $color-gray-5;
    }
  }

  &[aria-checked="true"].radio-button[aria-disabled="true"] {
    background-color: $color-primary;
    color: $color-invert-text;
  }

  &__input {
    display: none;
  }
}
