.rich-text-editor {
  width: 100%;

  border: 2px solid $color-gray-light;
  border-radius: $border-radius;

  &__controls {
    padding-left: $space-base - $space-s;
    padding-right: $space-base - $space-s;

    padding-top: $space-s;
    padding-bottom: $space-s;

    border-bottom: 2px solid $color-gray-light;

    > .button {
      margin: $space-s;
    }
  }

  &__divider {
    border-right: 2px solid $color-gray-light;
  }

  &__editor {
    margin: $space-base;
  }
}
