.section {
  margin: 0 0 $space-xxl;

  &--highlight {
    padding: $space-xl $space-xxl;
    background: $color-bg-highlight;
  }

  &--highlight-wide {
    padding: $space-xxxl $space-xxxxl;
    background: $color-bg-highlight;
  }
}
