.select-menu-group-item {
  $label-height: 35px;

  width: 100%;
  background: $color-bg;

  &__title {
    @include scut-truncate;

    display: block;
    height: $label-height;
    line-height: $label-height;
    padding: 0 (2 * $space-base + $font-size-base); // Same as material item
    text-align: left;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    background: $color-invert-bg;
    color: $color-invert-text;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $color-gray-5;
  }
}
