.upload-area {
  padding: $space-l;
  margin-bottom: $space-base;
  text-align: center;
  font-size: $font-size-l;
  border: 2px dashed $color-primary;

  & > .icon {
    font-size: 55px;
    margin-right: 0.5em;
    color: $color-primary;
  }

  &__link {
    display: inline;
    color: $color-link;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }

  &__description {
    font-size: $font-size-s;
    color: $color-minor;
  }

  &--drag {
    border-style: solid;
    background: $color-blue-very-light;
  }
}
