.upload-area {
  $border-image: url('../asset/image/upload-area-border.gif');

  padding: $space-xxl $space-l;
  margin-bottom: $space-base;
  text-align: center;
  font-size: $font-size-l;
  border: 1px dashed $color-primary;
  border-image: $border-image;
  border-image-slice: 1;
  border-image-repeat: round;

  & > .icon {
    font-size: 55px;
    margin-right: 0.5em;
    color: $color-primary;
  }

  &__link {
    display: inline;
    color: $color-link;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }

  &__description {
    font-size: $font-size-s;
    color: $color-minor;
  }

  &--drag {
    background: $color-blue-very-light;
    border-image: none;
  }
}
