.upload-area {
  padding: $space-l;
  margin-bottom: $space-base;
  text-align: center;
  font-size: $font-size-l;
  background: $color-bg-highlight;
  border: 1px solid $color-bg-highlight;

  & > .icon {
    font-size: 55px;
    margin-right: 0.5em;
    color: $color-primary;
  }

  &__link {
    display: inline;
    color: $color-link;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }

  &--drag {
    border-color: $color-primary-active;
    box-shadow: $box-shadow-focus;
  }
}
