.upload-area {
  $border-image: url('../asset/image/upload-area-border.svg');

  padding: $space-xxl $space-l;
  margin-bottom: $space-base;
  text-align: center;
  font-size: $font-size-l;
  border-image: $border-image;
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  border-width: 10px;

  & > .icon {
    font-size: 55px;
    margin-right: 0.5em;
    color: $color-primary;
  }

  &__link {
    display: inline;
    color: $color-link;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__input {
    display: none;
  }

  &__description {
    font-size: $font-size-s;
    color: $color-minor;
  }

  &--drag {
    background: $color-blue-very-light;
    border-style: solid;
    border-image: none;
    border-width: 1px;
    // Compensate for missing pixels when setting border image to none
    padding: $space-xxl + 9px $space-l + 9px;
  }
}
