.upload-model-item-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $space-base $space-xl $space-base $model-item-space-left;
  height: $upload-model-item-height;
  border-top: 1px solid $color-bg;
  border-bottom: 1px solid $color-bg;
  background: $color-red-light;

  &__image {
    @include scut-ratio-box(1);
    background-image: url('../asset/image/error.svg');
    background-position: center center;
    background-size: cover;
    flex-shrink: 0;
    width: $upload-model-item-image-width;
    margin-right: $space-l;
  }

  &__content {
    flex-grow: 1;
    font-size: $font-size-l;
    margin-right: $space-l;
  }

  &__title {
    @include scut-truncate;
    display: block;
    color: $color-error;
    font-weight: $font-weight-bold;
  }

  &__subline {
    @include scut-truncate;
    display: block;
    color: $color-gray-1;
  }

  &__delete {
    color: $color-error;
    outline: 0;
  }
}
