.provider-list {
  width: 100%;
  margin: 0 0 $space-base;
  table-layout: fixed;
  border-collapse: collapse;

  &__header {
    background: $color-invert-bg;
    color: $color-invert-text;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }

  &__provider,
  &__price,
  &__time,
  &__action {
    padding: $space-base $space-l;
    text-align: left;
  }

  &__action {
    width: 250px;
    padding-right: 0;
  }
}
