.provider-list {
  width: 100%;
  margin: 0 0 $space-base;
  table-layout: fixed;
  border-collapse: collapse;

  &__header {
    color: $color-text;
    font-weight: $font-weight-regular;
    font-size: $font-size-l;
    border-bottom: solid 1px $color-border;
  }

  &__provider,
  &__price,
  &__time,
  &__icon,
  &__action {
    padding: $space-base $space-l;
    text-align: left;
    font-weight: inherit;
  }

  &__icon {
    width: 100px;
  }

  &__action {
    width: 250px;
    padding-right: 0;
  }
}
