.provider-list {
  position: relative;

  &__table {
    width: 100%;
    margin: 0 0 $space-base;
    table-layout: fixed;
    border-collapse: collapse;
  }

  &__header {
    color: $color-text;
    font-weight: $font-weight-regular;
    font-size: $font-size-l;
    border-bottom: solid 1px $color-border;
  }

  &__provider,
  &__price,
  &__time,
  &__icon,
  &__action {
    padding: $space-base $space-l;
    text-align: left;
    font-weight: inherit;

    & > .info {
      margin-left: $space-s;
    }
  }

  &__icon {
    width: 100px;
  }

  &__action {
    width: 250px;
    padding-right: 0;
  }

  &__gradient {
    display: none;
  }

  &--hidden &__gradient {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $space-xl;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba($color-bg, 0.5), rgba($color-bg, 1));
  }
}
