.PageLayout {
  $stacking: content, sticky;

  display: flex;
  flex-direction: column;
  position: relative;

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: calc(100vh - #{$nav-bar-height});
  }

  &__content {
    margin-top: $space-l;
    flex-grow: 1;
    height: 100%;
    z-index: z($stacking, content);

    & > .LoadingContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: initial;
    }
  }

  &__stickyFooter {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: z($stacking, sticky);
  }

  &--stickyBottom {
    .PageLayout__stickyFooter {
      position: fixed;
      bottom: 0;
    }

    .PageLayout__content {
      padding-bottom: $sticky-footer-height;
    }
  }

  &--minorBackground {
    .PageLayout__main {
      background: $color-bg-minor;
    }
  }
}
