.PageLayout {
  $stacking: content, sticky;

  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    z-index: z($stacking, sticky);
  }

  &__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__content {
    position: relative;
    margin: $space-l 0 $space-l 0;
    flex-grow: 1;
    height: 100%;
    z-index: z($stacking, content);

    & > .LoadingContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-height: initial;
    }
  }

  &__stickyFooter {
    display: none;
    position: sticky;
    bottom: 0;
    z-index: z($stacking, sticky);
  }

  &--showStickyFooter {
    .PageLayout__stickyFooter {
      display: block;
    }
  }

  &--minorBackground {
    .PageLayout__main {
      background: $color-bg-minor;
    }
  }
}
