.model-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: $space-base $space-xl $space-base $model-item-space-left;
  height: $upload-model-item-image-width + 2 * $space-base;
  border-top: 1px solid $color-bg;
  border-bottom: 1px solid $color-bg;
  background: $color-bg;

  & > .magnifyable-item {
    flex-shrink: 0;
    width: $upload-model-item-image-width;
    margin-right: $space-l;
  }

  &__center-content {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    font-size: $font-size-l;
    margin-right: $space-l;
  }

  &__right-content {
    flex-shrink: 0;
    font-size: $font-size-l;
    text-align: right;
  }

  &__title {
    @include scut-truncate;
    display: block;
    color: $color-text;
    font-weight: $font-weight-bold;
  }

  &__subline {
    @include scut-truncate;
    margin-bottom: $font-size-l * $line-height-base;
    color: $color-minor;
  }

  &__value {
    @include scut-truncate;
  }

  &__price {
    @include scut-truncate;
    color: $color-text;
    font-weight: $font-weight-bold;
  }

  &__provider {
    display: flex;
    align-items: center;
    & > .provider-image,
    & > .info {
      display: inline-block;
      font-size: $font-size-base;
      flex-shrink: 0;
    }
    & > .info {
      margin-left: $space-base;
    }
  }

  &__buttons {
    position: absolute;
    right: $space-xl;
    bottom: $space-base;
    transition: opacity $transition-duration ease;

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &--read-only {
    padding-left: $space-xl;

    .model-item__buttons {
      display: none;
    }
  }
}
