.Logo {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;

  @include respond-to(tablet) {
    justify-content: flex-start;
  }

  &__image {
    max-width: 100%;
    max-height: $nav-bar-content-height;
  }
}
