.SelectMenuItem {
  $height: 40px;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: $height;
  line-height: $height;
  padding: 0 $space-base 0 (2 * $space-base + $font-size-base);
  outline: 0;
  background: $color-bg;
  text-align: left;
  font-size: $font-size-base;

  & > .Icon {
    position: absolute;
    left: $space-base;
    top: 50%;
    transform: translateY(-50%);
  }

  &__label {
    @include scut-truncate;

    display: block;
    flex-grow: 1;
  }

  &:hover:not(.SelectMenuItem--selected) {
    background: $color-gray-5;
  }
}
