.provider-item {
  border-bottom: 1px solid $color-border-minor;

  &__provider,
  &__time,
  &__price,
  &__action {
    padding: $space-l $space-l;
    vertical-align: middle;
    font-size: $font-size-l;
    text-align: left;
  }

  &__icon {
    padding: 0;
    font-size: $font-size-xl;
    color: $color-primary;
    text-align: right;
    vertical-align: middle;

    & > * + * {
      margin-left: $space-base;
    }
  }

  &__action {
    text-align: right;
  }
}
