.provider-item {
  border-bottom: 1px solid $color-border-minor;

  &__provider,
  &__time,
  &__price,
  &__action {
    padding: $space-l $space-l;
    vertical-align: middle;
    font-size: $font-size-l;
    text-align: left;
  }

  &__action {
    text-align: right;
  }
}
