.ColorCard {
  position: relative;
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  padding: $space-base;
  width: $material-card-width;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $space-base;
  }

  &__colorTrait {
    margin-right: $space-base;
  }

  &__title {
    @include scut-truncate();

    font-size: $font-size-l;
    font-weight: $font-weight-bold;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border-minor;
    padding-top: $space-base;
    height: 1px + $space-base + $field-height-tiny;

    & > .Button {
      width: 50%;
    }
  }

  &__unavailableText {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  &--unavailable {
    color: $color-minor;
    box-shadow: 0 0 0 1px rgba($color-border-minor, 0.5);

    .ColorCard__colorTrait {
      opacity: 0.2;
    }
  }

  &--selected:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
  }
}
