.PaymentSection {
  border: 1px solid $color-border-minor;

  &__priceComponents {
    list-style: none;
    margin: 0;
    padding: $space-l;
    margin-bottom: $space-l;
    border-bottom: 1px solid $color-border-minor;
  }

  &__priceComponent,
  &__totalPrice {
    @include scut-clearfix;
    margin: $space-base 0;
    padding: 0;
    font-size: $font-size-base;

    &:first-child {
      margin: 0;
    }
  }

  &__priceLabel {
    float: left;
    color: $color-minor;
  }

  &__priceValue {
    float: right;
  }

  &__priceDetail {
    display: block;
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__priceDetailItem {
    @include scut-clearfix;
    display: block;
  }

  &__priceDetailLabel {
    float: left;
    color: $color-minor;

    &:before {
      content: '-';
      padding-right: $space-s;
    }
  }

  &__priceDetailValue {
    float: right;
  }

  &__totalPrice {
    margin: $space-base 0 0;
    padding-top: $space-base;
    border-top: 1px solid $color-border-minor;

    .PaymentSection__priceValue {
      font-weight: $font-weight-bold;
      font-size: $font-size-l;
    }
  }

  &__buttons {
    list-style: none;
    margin: 0;
    padding: 0 $space-l $space-l;

    & > * + * {
      margin-top: $space-l;
    }
  }

  &__sectionLabel {
    padding: 0 $space-l;
    margin-bottom: $space-base;
    font-size: $font-size-base;
    color: $color-minor;
  }
}
