.MaterialCard {
  max-width: $screen-sm-max;
  border-radius: $border-radius;
  box-shadow: $box-shadow-base;
  overflow: hidden;

  &__image {
    @include scut-ratio-box(26/17);
    margin: 0;
    width: 100%;
    background-color: $color-gray-3;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__content {
    padding: $space-l;
    display: flex;
    flex-direction: column;
    // height: 270px; // Design decision
  }

  &__header {
    flex-shrink: 0;
    position: relative;
    margin-bottom: $space-l;

    & > .headline {
      @include scut-truncate();
      margin-bottom: 0;
    }

    & > .info {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      & + .headline {
        margin-right: 1em; // Space for info
      }
    }
  }

  &__body {
    flex-shrink: 0;
    border-top: 1px solid $color-border-minor;
    line-height: $line-height-base;
    padding: $space-base 0;
    height: 2 * $font-size-base * $line-height-base;
    box-sizing: content-box;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-border-minor;
    padding-top: $space-base;
  }

  &__unavailableText {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
  }

  &--unavailable {
    color: $color-minor;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    opacity: 0.6;

    .MaterialCard__image {
      filter: grayscale(100%);
    }
  }
}
