.annotated-table-cell {
  &__value {
    @include scut-truncate();
    color: $color-text;
    font-size: $font-size-l;
    display: block;
  }

  &__annotation {
    @include scut-truncate();
    color: $color-minor;
    font-size: $font-size-s;
    display: block;
    min-height: $font-size-s * $line-height-base;
  }
}
