.annotated-table-cell {
  &__value {
    @include scut-truncate();
    color: $color-text;
    font-size: $font-size-l;
    min-height: $font-size-l * $line-height-base;
  }

  &__annotation {
    font-size: $font-size-s;
  }

  &--highlighted {
    .annotated-table-cell__annotation {
      color: $color-minor-highlighted;
    }
  }
}
