.LabeledCheckbox {
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  color: $color-text;
  margin-bottom: $space-base;

  @include respond-to(tablet) {
    height: $field-height;
    line-height: $field-height;
    margin-bottom: 0;
  }

  & > .CheckboxField {
    flex-shrink: 0;
  }

  &__label {
    margin-left: $space-base;
  }
}
