.labeled-checkbox {
  height: $field-height;
  position: relative;
  padding-left: 30px;
  line-height: $field-height;

  & > .CheckboxField {
    @include scut-center-transform(y);
    left: 0;
  }

  &__label {
    font-size: $font-size-l;
    color: $color-text;
  }

  &--error {
    .labeled-checkbox__label {
      color: $color-error;
    }
  }
}
