.UploadLayout {
  display: flex;
  flex-direction: column;

  &__header {
    position: sticky;
    top: 0;
    flex-shrink: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    background: $color-bg-minor;
    min-height: 100vh;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__content {
    flex-grow: 1;
    height: 100%;
  }

  &__stickyFooter {
    position: sticky;
    bottom: 0;
    background: $color-bg;
    padding: $space-base $space-l;
    text-align: right;
    border-top: 2px solid $color-bg-minor;

    & > * + * {
      margin-left: $space-xl;
    }
  }
}
