.checkbox {
  display: inline-block;

  width: $input-height / 2;
  height: $input-height / 2;

  position: relative;

  background-color: $color-bg;

  border: 2px solid $color-gray-light;
  border-radius: $border-radius;

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;

    cursor: pointer;

    &:hover ~ .checkbox__checked-icon {
      color: $color-gray-light;
    }
  }

  &__checked-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    color: transparent;
    font-size: $font-size-l;
  }

  &--checked {
    border-color: $color-primary;
    background-color: $color-primary;

    .checkbox__checked-icon {
      color: $color-bg;
    }
  }
}
