.input-field {
  $label-not-empty-size: $font-size-s;
  $field-space-base: 5px;
  $border-width: 2px;

  position: relative;
  height: $input-height;
  margin-bottom: $space-base;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $input-height;
    border: 2px solid $color-border;
    border-radius: $border-radius;
    padding: {
      top: $label-not-empty-size;
      left: 2 * $field-space-base;
      right: 2 * $field-space-base;
    }

    outline: none;
    color: $color-text;
    font-weight: $font-weight-bold;

    &:focus {
      border-color: $color-field-focus;
    }

    &:invalid {
      border-color: $color-error;
      color: $color-error;
    }
  }

  &__label {
    position: absolute;
    top: $border-width;
    left: $border-width;
    cursor: text;
    color: $color-text-secondary;
    font-weight: $font-weight-semi-bold;
    font-size: $label-not-empty-size;
    padding: {
      right: 2 * $field-space-base;
      left: 2 * $field-space-base;
    }

    transform-origin: 0 50%;  // To keep the distance to the left
    transition: transform $transition-duration-fast ease-in-out;
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    right: 2 * $field-space-base;
    height: 100%;

    color: $color-text-secondary;
    font-size: 0.5 * $input-height;
  }

  &--empty {
    .input-field__input:not(:focus) ~ .input-field__label {
      $label-scale-empty: $font-size-base / $label-not-empty-size;

      transform: scale($label-scale-empty) translateY($input-height/2 - $label-not-empty-size)
    }

    .input-field__input:not(:focus) {
      color: transparent;
    }
  }

  &--has-icon {
    .input-field__input {
      padding-right: 7 * $field-space-base;  // Include the padding of the icon
    }
  }

  &--error {
    .input-field__input,
    .input-field__input:focus {
      border-color: $color-error;
      color: $color-error;
    }
  }
}
