.link {
  color: $color-primary;
  text-decoration: none;
  font-weight: $font-weight-medium;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &--minor {
    color: $color-text-secondary;
  }
}
