.section-headline {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-l;

  padding-bottom: $space-s;
  margin: 0 0 $space-base;
  border-bottom: 2px solid $color-border;

  > .icon {
    margin-right: .5em;
    font-size: $font-size-xl;
    vertical-align: -15%;  // Fix icon alignment
  }

  &--s {
    color: $color-text-secondary;
    border-bottom: 1px solid $color-border;
  }
}
