.topbar {
  display: flex;
  justify-content: space-between;
  height: 55px; // Set height explicitely to prevent jumping of height.
  padding: $space-base $space-xl;
  background: $color-gray-light;

  &__main {
    display: flex;
    align-items: center;
    margin-right: $space-xl;
  }

  &__aside {
    display: flex;
    align-items: center;
  }
}
