.sidebar-layout {
  $sidebar-width: 260px;

  display: grid;
  grid-template-columns: auto $sidebar-width;
  grid-gap: $gutter-width;

  &__aside {
    position: sticky;
    top: $nav-bar-height + $space-l;

    // Special spacing for paragraphs
    & > .Paragraph {
      margin-left: $space-base;
      margin-right: $space-base;
    }
  }
}
