.MaterialStepSection {
  margin-bottom: $space-xxxl;

  &__content {
    margin-top: $space-xl;
  }

  &--fadeIn {
    animation: MaterialStepSection-fadeIn $transition-duration linear;
  }
}

@keyframes MaterialStepSection-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
