.InputField {
  $border-width: 1px;

  position: relative;
  height: $field-height-compact;

  @include respond-to(tablet) {
    height: $field-height;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: $border-width solid $color-border;
    border-radius: $border-radius;
    font-size: $font-size-base;
    outline: none;
    color: $color-text;
    padding: {
      top: $space-base;
      left: $space-base;
      right: $space-base;
    }

    &:focus {
      border-color: $color-field-focus;
      box-shadow: $box-shadow-focus;
    }

    &:invalid {
      border-color: $color-error;
      color: $color-error;
      box-shadow: $box-shadow-error;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: $border-width + $space-base;
    right: $border-width + $space-base;
    height: $field-height-compact;
    line-height: $field-height-compact;
    cursor: text;
    color: $color-minor;
    font-size: $font-size-base;
    transform-origin: 0 0; // To keep the distance to the left
    transition: transform $transition-duration-fast ease-in-out;
    transform: scale(0.65) translateY(-10%); // Resize label manually

    @include respond-to(tablet) {
      height: $field-height;
      line-height: $field-height;
    }
  }

  &--empty {
    .InputField__input:not(:focus) ~ .InputField__label {
      transform: none;
    }

    .InputField__input:not(:focus) {
      color: transparent;
    }
  }

  &--error {
    .InputField__input,
    .InputField__input:focus {
      border-color: $color-error;
      color: $color-error;
      box-shadow: $box-shadow-error;
    }
    .InputField__input:focus {
      box-shadow: $box-shadow-focus;
    }
  }

  &--warning {
    .InputField__input,
    .InputField__input:focus {
      border-color: $color-warning;
      color: $color-warning;
      box-shadow: $box-shadow-error;
    }
    .InputField__input:focus {
      box-shadow: $box-shadow-focus;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
