.location-field {
  $field-space: 10px;
  $button-size: 30px;

  position: relative;

  &__input {
    display: block;
    width: 100%;
    height: $field-height;
    padding: 0 (2 * $field-space + $button-size) 0 $field-space;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-base;
    border-radius: $border-radius;
    color: $color-text;
    font-size: $font-size-base;
    outline: 0;

    &:focus {
      border-color: $color-field-focus;
      box-shadow: $box-shadow-focus;
    }

    &:active {
      box-shadow: $box-shadow-active;
    }

    &:invalid {
      border-color: $color-error;
      color: $color-error;
      box-shadow: $box-shadow-error;
    }

    &:placeholder {
      color: $color-minor;
    }
  }

  &__button {
    position: absolute;
    top: 0.5 * ($field-height - $button-size);
    right: $field-space;
    display: inline-block;
    width: $button-size;
    height: $button-size;
    color: $color-primary;
    outline: 0;

    &:hover,
    &:focus {
      color: $color-primary-active;
    }

    & > .icon {
      display: block;
      width: $button-size;
      height: $button-size;
    }
  }

  & > .loading-indicator {
    position: absolute;
    top: 0.5 * ($field-height - $button-size);
    right: $field-space;
    font-size: $button-size;
    line-height: $button-size;
  }

  &--error,
  &--locationError {
    .location-field__input,
    .location-field__input:focus {
      border-color: $color-error;
      color: $color-error;
      box-shadow: $box-shadow-error;
    }
    .location-field__input:focus {
      box-shadow: $box-shadow-focus;
    }
  }
}
